<div>

    <div class="container">
        <div class="bird-icon">
            <img src="assets/image1.jpg" alt="Bird Icon" />
        </div>
        <h2>הוספת פריט למנהל</h2>


        <form [formGroup]=" lendingForm" (ngSubmit)="onSubmit( lendingForm)">
            <div>
                <!-- Category -->
                <mat-form-field>
                    <label for="Category">קטגוריה </label>
                    <select matNativeControl formControlName="depositOptions" required>
                        <option value="ריהוט">ריהוט</option>
                        <option value="הנקה והאכלה">הנקה והאכלה</option>
                        <option value="בטיחות "> בטיחות</option>
                        <option value="מנשאים">מנשאים</option>
                        <option value="שונות">שונות</option>
                    </select>
                </mat-form-field>
            </div>



            <!-- Name -->
            <div>
                <mat-form-field>
                    <label for="productName">שם המוצר</label>
                    <input matInput type="text" id="productName" name="productName" formControlName="productName"
                        required />
                </mat-form-field>
            </div>
            <!-- Company -->
            <div>

                <mat-form-field>
                    <label for="company">:חברה</label>
                    <input matInput type="text" id="productName" name="productName" formControlName="productName"
                        required />
                </mat-form-field>
            </div>


            <!-- Description -->
            <mat-form-field>
                <mat-label>תיאור</mat-label>
                <textarea matInput class="custom-textarea"></textarea>
            </mat-form-field>
            <!-- Deposit -->
            <mat-form-field>
                <label for="securityDeposit">סכום פיקדון</label>
                <input matInput type="number" id="securityDeposit" name="securityDeposit"
                    formControlName="securityDeposit" required />

            </mat-form-field>

            <!-- Question -->

            <div>
                <mat-form-field>
                    <label for="question">השאלה/החזרה חדשה</label>
                    <input matInput type="text" id="question" name="question" formControlName="question" required />
                </mat-form-field>
            </div>

            <!-- Is Available (Checkbox) -->

            <div class="form-group">
                <label for="isAvailable">זמין:</label>
                <input type="checkbox" id="isAvailable" name="isAvailable" ormControlName="isAvailable" required />

            </div>

            <button mat-raised-button color="primary" type="submit"> הוסף פריט</button>
        </form>




    </div>