/* בקובץ CSS */
.header {

    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* חשוב להגדיר את position על מנת להשתמש ב-absolute בתוך ה-header */
}

.logo {
    max-height: 100px;
    position: absolute;
    top: 10px;
    /* כמה פיקסלים מהקרן העליונה */
    right: 10px;
    /* כמה פיקסלים מהקיר הימני */
}


.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-item {
    margin: 10px;
    /* יכול לשנות את המרווח בין הקטגוריות */
}

.category-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 1px solid rgb(14, 14, 14);
    /* קו מעטפת עבור התמונה */
}

.category-item {
    text-align: center;
}

.category-name {
    margin-top: 5px;
    /* כדי להבדיל את התמונה מהטקסט */
    font-size: 20px;
    /* גודל פונט */
    font-weight: bold;

}

.category-image {
    transition: filter 0.3s ease;
}

.category-image:hover {
    filter: brightness(0.8);

}

.category-title {
    text-align: center;
    margin-bottom: 20px;
    /* יש מרווח נוסף בין הכותרת לרשימת הקטגוריות */
}

.center {
    font-size: 50px;
    /* גודל גופן גדול יותר */
    color: #474747;
    font-weight: bold;

}