/* בקובץ CSS */
.header {

    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* חשוב להגדיר את position על מנת להשתמש ב-absolute בתוך ה-header */
}

.logo {
    max-height: 100px;
    position: absolute;
    top: 10px;
    /* כמה פיקסלים מהקרן העליונה */
    right: 10px;
    /* כמה פיקסלים מהקיר הימני */
}


.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-item {
    margin: 10px;
    /* יכול לשנות את המרווח בין הקטגוריות */
}

.category-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 1px solid rgb(126, 152, 247);
    /* קו מעטפת עבור התמונה */
}