<!-- בקובץ HTML -->



<div class="header">
    <img class="logo" src="assets/image1.jpg" alt="My Logo">
</div>

<div class="category-title">
    <h5 class="center">קטגוריות מוצרים</h5>
</div>

<div class="category-container">
    <div class="category-item" *ngFor="let category of categories" (click)="navigateToCategory(category.id)">
        <img class="category-image" src="{{ category.picture }}" alt="{{ category.name }}">
        <div class="category-name">{{ category.name }}</div>
    </div>
</div>