<div class="background-container">
    <div class="content">


        <form>


            <div> <img class="logo" src="assets/image1.jpg" alt="לוגו "></div>


            <p>אתר זה מציע מגוון רחב של מוצרי תינוקות להשאלה</p>

            <button routerLink="/products">הצגת מוצרים </button>

            <!-- home-page.component.html או קובץ ה-HTML של דף הבית -->
            <button routerLink="/admin-login">כניסת מנהל</button>



        </form>




    </div>
</div>
<br>
<br>
<p>ברוך הבא לאתר "גמ"ח מוצרי תינוקות" – המקום האידיאלי להשכרת מוצרים בקטגוריית התינוקות. אנו יודעים שהתפקיד של ההורה הוא
    משימה אדירה, ולכן אנו מציעים פתרונות יעילים ומשתלמים עבורך ולטובת התינוק שלך.

    אודות האתר:
    1. הקטגוריות המגוונות:
    האתר שלנו מציע מגוון רחב של מוצרים לתינוקות מכל הסוגים. כל קטגוריה מכילה מגוון פריטים שיעניקו לך ולתינוקך חוויה נוחה
    ובטוחה.

    2. השאלה החכמה:
    אנו מאמינים בצמצום פעולות רכישה למצרכים מסוימים ובמקום זה, עוברים לתרומת ערך. כל פריט באתר זמין להשכרה, וכך תוכל
    ליהנות ממגוון מוצרים בזמן המסוגלים לעזור בכל רגע נתון.

    3. חיפוש מתקדם:
    באתר שלנו תוכל להשתמש באפשרויות חיפוש מתקדמות שיעזרו לך למצוא במהירות וביעילות את הפריטים שאתה מחפש.

    4. חוויית משתמש ידידותית:
    עיצוב האתר מתקדם, נוח ונעים, ומבטיח חוויית משתמש ידידותית ופשוטה.

    5. עדכונים וחדשות:
    אנו עוקבים אחרי טרנדים בתחום התינוקות ומציעים לך את המוצרים החדשים ביותר והמתקדמים ביותר בעולם של ההורות.

    6. קהילת תמיכה:
    באתר שלנו תמצא גם קהילת תמיכה שתענה על שאלותיך ותספק לך ייעוץ אישי על מוצרים ושימוש בהם.

    7. השכרה חכמה:
    אנו מזמינים אותך להצטרף לקהילת ההורים החכמים שלנו ולהשכיר מוצרים עדכניים ושימושיים במחירים משתלמים.

    אנו פה כדי להקל על חייך כהורה ולספק לך כלי יעילים לטיפול הטוב ביותר בתינוק שלך. ברוכים הבאים למסע ההורות ולעולם
    המוצרים לתינוקות שלנ</p>