<div>
  <div class="bird-icon">
    <img src="assets/baby-bird.png" alt="Bird Icon" />
  </div>
  <h2>השאלה חדשה</h2>
  <form [formGroup]="loanForm" (ngSubmit)="onSubmit(loanForm)">
    <div>
      <mat-form-field>
        <label for="productName">:שם המוצר</label>
        <input
          matInput
          type="text"
          id="productName"
          name="productName"
          formControlName="productName"
          required
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <label for="date">תאריך השאלה:</label>
        <input
          matInput
          [matDatepicker]="picker"
          id="date"
          name="date"
          formControlName="loanDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <label for="returnDate">תאריך החזרה:</label>
        <input
          matInput
          [matDatepicker]="returnPicker"
          id="returnDate"
          name="returnDate"
          formControlName="returnLoanDate"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="returnPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #returnPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <label for="securityDeposit">אפשרויות פיקדון:</label>
        <select matNativeControl formControlName="depositOptions" required>
          <option value="מזומן">מזומן</option>
          <option value="ביט">ביט</option>
          <option value="העברה בנקאית">העברה בנקאית</option>
          <option value="צ'ק">צ'ק</option>
        </select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <label for="securityDeposit">סכום פיקדון:</label>
        <input
          matInput
          type="number"
          id="securityDeposit"
          name="securityDeposit"
          formControlName="securityDeposit"
          required
        />
        <mat-error *ngIf="loanForm.get('securityDeposit').hasError('range')"
          >סכום פיקדון חייב להיות בין 20 ל-100</mat-error
        >
      </mat-form-field>
    </div>

    <div>
      <button
        mat-raised-button
        ngsubmit="onsubit(myform)"
        type="submit"
        [disabled]="!loanForm.valid"
      >
        צור השאלה
      </button>
    </div>
  </form>
</div>
