:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

form {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
}

.bird-icon {
  display: flex;
  position: relative;
  left: 5rem;
  top: 3rem;
}
