<div class="reset-wrapper">
  <mat-card class="reset-card">
    <mat-card-header>
      <div class="logo">
        <img src="assets/logo.jpg" alt="Application Logo" class="logo-image" />
      </div>
    </mat-card-header>

    <mat-card-content>
      <h2 class="title">איפוס סיסמה</h2>

      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        <div class="custom-form-field">
          <input
            type="text"
            id="userId"
            formControlName="userId"
            placeholder=" "
          />
          <label for="userId">תעודת זהות</label>
        </div>
       
        <div class="custom-form-field">
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder=" "
          />
          <label for="password">סיסמה</label>
        </div>

        <div class="custom-form-field">
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder=" "
          />
          <label for="confirmPassword">אשר סיסמה</label>
        </div>

        <mat-card-actions>
          <p class="reset-hyper" routerLink="/login">
            יש לך כבר משתמש ? להתחברות
          </p>
          <p *ngIf="errorMessage" class="faild-register">{{ errorMessage }}</p>
          <div
            *ngIf="resetForm.errors?.['passwordMismatch'] && resetForm.touched"
            class="error-message"
          >
          הסיסמאות לא תואמות
          </div>
         
          <p-button [disabled]="!resetForm.valid" type="submit">שנה סיסמה</p-button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
