<div>
  <h2>פרטי יצירת קשר</h2>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label for="שם המוצר">שם המוצר:</label>
      <input type="text" id="productName" name="productName" ngModel required />
    </div>

    <div>
      <label for="תאריך">תאריך:</label>
      <input type="date" id="date" name="date" ngModel required />
    </div>

    <div>
      <label for="פיקדון">פיקדון:</label>
      <input type="number" id="securityDeposit" name="securityDeposit" ngModel required />
    </div>

    <div>
      <label for="שם">שם :</label>
      <input type="text" id="name" name="name" ngModel required />
    </div>

    <div>
      <label for="פלאפון ליצירת קשר">פלאפון ליצירת קשר</label>
      <input type="tel" id="phone" name="phone" ngModel required />
    </div>

    <div>
      <button mat-raised-button type="submit" [disabled]="!myForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>