<div>
  <h2>Contact Details</h2>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label for="productName">Product Name:</label>
      <input type="text" id="productName" name="productName" ngModel required />
    </div>

    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" ngModel required />
    </div>

    <div>
      <label for="securityDeposit">Security Deposit:</label>
      <input
        type="number"
        id="securityDeposit"
        name="securityDeposit"
        ngModel
        required
      />
    </div>

    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" ngModel required />
    </div>

    <div>
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" ngModel required />
    </div>

    <div>
      <button mat-raised-button type="submit" [disabled]="!myForm.valid">
        Submit
      </button>
    </div>
  </form>
</div>
